@import "../assests/color";

.pager-container {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 25px 0;

  .pager-items--container {
    padding: 0 25px;
  }

  .pager-items--container-controls {
    width: 280px;
    display: flex;
    justify-content: center;
  }

  .pager-items--container-pages {
    min-width: 380px;
    display: flex;
    justify-content: center;
  }

  .pager--unit-control {
    margin: 0 8px;
    padding: 5px 8px;
    background-color: $color3;
    color: $color1;
  }

  .pager--page-item {
    background-color: $color3;
    color: $color1;
    padding: 5px 8px;
    margin: 0 2px;

    &.selected {
      background-color: $color1;
      color: $color10;
    }
  }
}