@import "../assests/color";

.ui-autocomplete {
  position: relative;

  .ui-autocomplete-input {
    border: solid 1px $color10;
  }

  .ui-autocomplete-list {
    position: absolute;
    overflow: auto;
    max-height: 250px;
    background-color: $color1;
    width: 100%;
    left: 0;
    padding: 0;
  }

  .ui-autocomplete-item {
    list-style: none;
    padding: 8px 4px;

    &:not(:last-child) {
      border-bottom: solid 1px $color6;
    }

    &:hover {
      cursor: pointer;
      background-color: $autoLight;
    }
  }
}