@import "../assests/color";

.ui-message {
  color: $color1;
  width: 550px;
  padding: 25px 20px 25px 70px;
  position: fixed;
  margin: auto;
  bottom: 180px;
  animation: showMessage 500ms ease;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  &.notice {
    background-color: $color8;

    .ui-message-icon {
      &::after, &::before {
        content: "";
        display: block;
        position: absolute;
        height: 3px;
        background-color: $color1;
      }

      &::before {
        top: 18px;
        transform: rotate(45deg);
        width: 11px !important;
        left: 6px;
      }

      &::after {
        right: 4px;
        top: 16px;
        transform: rotate(130deg);
        width: 20px !important;
      }
    }
  }

  &.warning {
    background-color: $warning;

    .ui-message-icon {
      &::before {
        content: "!";
        color: $color1;
        font-size: 26px;
      }
    }
  }

  &.error {
    background-color: $error;

    .ui-message-icon {
      &::after, &::before {
        content: "";
        display: block;
        position: absolute;
        width: 22px;
        height: 3px;
        background-color: $color1;
      }

      &::before {
        top: 17px;
        transform: rotate(45deg);
        left: 6px;
      }

      &::after {
        right: 7px;
        top: 17px;
        transform: rotate(130deg);
      }
    }
  }

  &.hide-message {
    bottom: -500px;
    animation: hideMessage 200ms ease;
  }

  .ui-message-icon {
    border: solid 2px $color1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    left: 18px;
    text-align: center;
  }
}

@keyframes showMessage {
  from { bottom: -500px; }
  to { bottom: 180px; }
}

@keyframes hideMessage {
  from { bottom: 180px; }
  to { bottom: -500px; }
}