{#
  /*
  sand_theme.info.yml - Definición del tema
  sand_theme.theme - Crea lógica de configuación en drupal
    html.html.twig - Define la página inicial
      page.html.twig - Ubica las secciones definidas en sand_theme.info.yml (Creado)
        node.html.twig - Declara nodos globales para utilizar en el tema
          region.html.twig - Embebe las regiones en la página
            block.html.twig - Define bloques bases del sistema
              field.html.twig - Crea contenido dinamico en la base del sistema
  */
  los archivos mencionados arriba se generan cuando se requiera
  modificar los del tema base, estos se encuentran en core/themes/classy
#}

<div id="page-wrapper">
  <div id="page">
    <header id="header" role="banner" aria-label="{{ 'Site header'|t }}">
      {{ page.navbar }}
      {{ page.header }}
      {% if page.navbar %}
        <div class="navbar-gap"></div>
      {% endif %}
    </header>
    {% if page.highlighted %}
      <div class="highlighted">
        <aside class="layout-container section clearfix" role="complementary">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}
    <div class="drupal-notifications">
     {{page.notifications}}
    </div>
    <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
      <div id="main" class="layout-main clearfix">
        {{ page.breadcrumb }}
          <main id="content" class="column main-content" role="main">
            <section class="section">
              <a id="main-content" tabindex="-1"></a>
              {{ page.content }}
            </section>
          </main>
      </div>
    </div>
    <footer>
      {{ page.footer }}
    </footer>
  </div>
</div>