* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0px;
}

.hidden {
  display: none;
  transition: visibility 2s, opacity 0.5s linear;
}

.layout-main-wrapper {
  height: calc(89vh - 100px);
}

.toolbar-fixed .layout-main-wrapper {
  height: calc(89vh - 139px);
}
.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .layout-main-wrapper {
  height: calc(89vh - 178px);
}

.blur {
  filter: blur(1px);
  transition-duration: 1s;
}

#main {
  margin: 0px;
}

.block .content {
  margin: 0px;
}

main#content .section {
  padding: 0px;
}

a {
  border: none;
}
a:hover {
  border: none;
}

.ajax-progress {
  display: none;
}

#page {
  height: 100vh;
}

#page-wrapper {
  height: 100vh;
  background: #fff;
  position: relative;
}

@media (min-width: 1025px) {
  #page {
    margin: auto;
  }

  #main-wrapper {
    max-width: unset;
  }
}
header .region-navbar div.content {
  margin-top: 0px;
}

table thead tr th {
  background: #F1F2F7;
  color: #5C6069;
  border-collapse: collapse;
  border-top: solid 1px #D6D6D8;
  border-bottom: solid 1px #D6D6D8;
  border-left: none;
  border-right: none;
  font-weight: bold;
}
table tbody tr td {
  background: #fff;
  border-collapse: collapse;
  border-top: solid 1px #D6D6D8;
  border-bottom: solid 1px #D6D6D8;
  border-left: none;
  border-right: none;
}
table tbody tr td label {
  font-weight: normal;
}

@media (max-width: 767px) {
  table#origin-cert, table#remision-table, table#sand-core-logs-table {
    overflow-x: auto;
    display: block;
  }
}
input.btn-basic, button.btn-basic, a.btn-basic, label.btn-basic {
  background: #E5930B;
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input.btn-basic:hover, button.btn-basic:hover, a.btn-basic:hover, label.btn-basic:hover {
  cursor: pointer;
  color: #fff;
  background: #E5930B;
}
input.list-table, button.list-table, a.list-table, label.list-table {
  margin: 10px 20px;
}

#return-container {
  height: 50px;
}

#sand-core-material-list,
#sand-core-clients-list,
#sand-core-material-outs-list {
  margin: 30px 0px 0px;
}
#sand-core-material-list table,
#sand-core-clients-list table,
#sand-core-material-outs-list table {
  margin: 30px 0px;
}

#sand-core-pagos-anticipos,
#sand-core-clientes,
#sand-core-materiales,
#sand-core-generate-out {
  margin: 0px 10%;
}

.out-page form {
  margin: 0px 10%;
}

.path-frontpage #main-wrapper {
  overflow: unset;
}

.add-client-page #main-wrapper,
.out-page #main-wrapper, .material-page #main-wrapper,
.path-cert #main-wrapper,
.path-reports #main-wrapper {
  overflow-y: auto;
}

.pager {
  background: #E5930B;
  color: #fff;
  border-radius: 3px;
}
.pager:hover, .pager.pager-selected {
  color: #000;
  background: #fff;
  border: solid 1px #E5930B;
}

.card-wrapper {
  width: 70%;
  border-radius: 3px;
  margin: 20px auto;
  box-shadow: 1px 1px 3px 1px #5C6069;
  padding: 20px 0px;
}

@media (max-width: 767px) {
  #filters-wrapper div {
    display: block !important;
    text-align: center;
    margin: 5px 0px !important;
  }
  #filters-wrapper div label {
    margin: auto;
  }
  #filters-wrapper div input {
    text-align: center;
  }
  #filters-wrapper input[type=submit] {
    width: 100%;
    margin: 10px 0px;
  }
}
#pop-disable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 89vh;
  background: rgba(1, 1, 1, 0.5);
}
#pop-disable #pop-form {
  background: #fff;
  width: 50%;
  margin: 23% auto;
  padding: 35px 30px;
  border-radius: 5px;
  position: relative;
}
#pop-disable #pop-form .close {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background: #5C6069;
  top: 0px;
  right: 0px;
  transform: translate(5px, -6px);
  border-radius: 100%;
  cursor: pointer;
}
#pop-disable #pop-form .close:before, #pop-disable #pop-form .close:after {
  content: "";
  display: block;
  height: 15px;
  width: 2px;
  background: #fff;
  border-radius: 3px;
}
#pop-disable #pop-form .close:before {
  transform: rotate(45deg) translate(15px, -5px);
}
#pop-disable #pop-form .close:after {
  height: 16px;
  transform: rotate(135deg) translate(-16px, -4px);
}
#pop-disable #pop-form .no-link {
  cursor: inherit;
}
#pop-disable #pop-form .title {
  margin: auto;
  font-size: 1.1em;
  text-transform: uppercase;
}
#pop-disable #pop-form #dis-description {
  font-weight: normal;
}
#pop-disable #pop-form .btn-wrapper {
  text-align: right;
  margin: 20px 0px 0px 0px;
}
#pop-disable #pop-form .btn-wrapper .btn-basic {
  display: inline-block;
  margin: 0px 5px;
}

.disabled-mark {
  width: 100%;
  position: absolute;
}
.disabled-mark.dis-remision {
  padding: 275px 0px 0px 0px;
}
.disabled-mark.dis-cert {
  position: fixed;
  z-index: 11;
  top: 45vh;
  width: inherit;
  left: 35%;
}
.disabled-mark .anulado {
  transform: rotate(45deg);
  left: 0;
  right: 0;
  font-size: 5em;
  margin: auto;
  color: rgba(187, 2, 2, 0.55);
}

@media print {
  .disabled-mark {
    width: 90mm;
  }
  .disabled-mark.dis-remision {
    padding: 200px 0px 0px 0px;
  }

  .ptr-wrapper .disabled-mark {
    z-index: 99;
    left: 316px;
    position: absolute;
    top: 0px;
    padding: 96px 0px 0px 0px;
  }
}

/*# sourceMappingURL=main.css.map */
