header#header {
  background: #fff; }
  header#header .block-header-simple {
    width: 100%;
    height: 100px; }
    header#header .block-header-simple #icon-header {
      background: url(../images/Arenas.png) no-repeat;
      width: 170px;
      height: 68px;
      background-size: 165px;
      display: inline-block;
      margin: 15px 0px 0px 50px; }
    header#header .block-header-simple #initial-menu {
      display: inline-block;
      float: right;
      margin: 40px 40px 0px; }
      header#header .block-header-simple #initial-menu .nav-opt {
        margin: 0px 15px; }
        header#header .block-header-simple #initial-menu .nav-opt:hover {
          cursor: pointer; }
    header#header .block-header-simple .login-form-wrapper {
      position: absolute;
      height: calc(100vh - 11vh);
      width: 100vw;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.7);
      z-index: 2;
      transition-duration: 1s; }
      header#header .block-header-simple .login-form-wrapper form {
        background: rgba(69, 175, 198, 0.7);
        width: 30%;
        margin: 100px auto 0px;
        border-radius: 26px;
        padding: 20px;
        position: relative; }
        header#header .block-header-simple .login-form-wrapper form .close-pop-up {
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          background: #333;
          top: 0px;
          right: 0px;
          transform: translate(5px, -6px);
          border-radius: 100%;
          cursor: pointer; }
          header#header .block-header-simple .login-form-wrapper form .close-pop-up:before, header#header .block-header-simple .login-form-wrapper form .close-pop-up:after {
            content: '';
            display: block;
            height: 15px;
            width: 2px;
            background: #fff;
            border-radius: 3px; }
          header#header .block-header-simple .login-form-wrapper form .close-pop-up:before {
            transform: rotate(45deg) translate(15px, -5px); }
          header#header .block-header-simple .login-form-wrapper form .close-pop-up:after {
            height: 16px;
            transform: rotate(135deg) translate(-16px, -4px); }
        header#header .block-header-simple .login-form-wrapper form label.form-required {
          color: #fff;
          font-weight: bold;
          display: block;
          margin: auto;
          width: 80%; }
          header#header .block-header-simple .login-form-wrapper form label.form-required::after {
            display: none; }
        header#header .block-header-simple .login-form-wrapper form input {
          background: none;
          color: #fff;
          border: none;
          border-bottom: solid 1px #fff;
          width: 80%;
          display: block;
          margin: auto;
          outline: none;
          font-size: 1em;
          font-weight: bold; }
        header#header .block-header-simple .login-form-wrapper form .button {
          text-transform: uppercase;
          background: #61E34D;
          border-radius: 15px;
          border: none;
          font-size: 1.2em; }
        header#header .block-header-simple .login-form-wrapper form .description {
          display: none; }
    header#header .block-header-simple .logged-header-wrapper {
      text-align: center;
      width: 100%; }
      header#header .block-header-simple .logged-header-wrapper .user-name-header, header#header .block-header-simple .logged-header-wrapper .page-title {
        display: inline-block; }
      header#header .block-header-simple .logged-header-wrapper .page-title h1 {
        color: #45505D;
        margin: 35px 0px 0px; }
      header#header .block-header-simple .logged-header-wrapper .user-name-header {
        position: absolute;
        left: 0px;
        margin: 40px 0px 0px 80px; }
      header#header .block-header-simple .logged-header-wrapper #icon-header.right-aling {
        right: 0px;
        position: absolute;
        margin: 15px 50px 0px 0px; }
  @media (max-width: 767px) {
    header#header .block-header-simple #icon-header.right-aling {
      display: none; } }

footer .contextual-region {
  position: inherit; }
footer .middle-footer, footer .full-footer {
  height: 11vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px; }
  footer .middle-footer .site-mark-wrapper, footer .full-footer .site-mark-wrapper {
    display: flex;
    height: 20px; }
footer .middle-footer {
  right: 0px;
  width: 80%; }
footer .full-footer {
  width: 100%;
  left: 0px; }
@media (max-width: 767px) {
  footer .middle-footer {
    width: 100%;
    left: 0px; } }

.user-logged-in.path-frontpage header {
  display: none; }

.menu-logged-simple-block {
  position: absolute;
  height: 100vh;
  width: 20%;
  top: 0px;
  background: #ECB55B; }
  .menu-logged-simple-block .logo-menu-logged {
    display: none; }
  .menu-logged-simple-block .user-data {
    text-align: center; }
    .menu-logged-simple-block .user-data p {
      color: #999;
      font-size: 1em; }
  .menu-logged-simple-block .menu-logged-simple {
    width: 100%; }
    .menu-logged-simple-block .menu-logged-simple .u-list-wrapper {
      padding: 0px; }
      .menu-logged-simple-block .menu-logged-simple .u-list-wrapper .nav-el {
        list-style: none;
        border-top: solid 1px #FFCC99; }
        .menu-logged-simple-block .menu-logged-simple .u-list-wrapper .nav-el.border-bottom {
          border-bottom: solid 1px #FFCC99; }
        .menu-logged-simple-block .menu-logged-simple .u-list-wrapper .nav-el a {
          color: #333;
          border: none;
          font-size: 1.1em;
          width: 100%;
          display: block;
          padding: 10px; }
  .menu-logged-simple-block .menu-log-out {
    position: absolute;
    bottom: 20px;
    margin: auto; }
    .menu-logged-simple-block .menu-log-out a {
      color: #333;
      margin: 12px; }

.toolbar-fixed .menu-logged-simple-block {
  height: calc(100vh - 39px); }

@media (max-width: 767px) {
  .menu-logged-simple-block {
    width: 70%;
    height: auto;
    background: #fff;
    height: 89vh;
    text-align: center;
    margin: auto;
    position: relative; }
    .menu-logged-simple-block .logo-menu-logged {
      display: block; }
      .menu-logged-simple-block .logo-menu-logged span.logo {
        background: url(../images/Arenas.png) no-repeat 25px;
        width: 200px;
        height: 100px;
        display: block;
        background-size: 150px;
        margin: auto; }
    .menu-logged-simple-block .menu-log-out {
      width: 100%;
      bottom: 25px; }
      .menu-logged-simple-block .menu-log-out a {
        width: 100%;
        background: #ECB55B;
        padding: 14px;
        border-radius: 2.55px; }
    .menu-logged-simple-block .menu-logged-simple .u-list-wrapper .nav-el a {
      padding: 10px 0px; } }
.home-page-non-logged {
  text-align: center; }
  .home-page-non-logged .home-title {
    width: 50%;
    margin: auto; }
    .home-page-non-logged .home-title h1 {
      color: #45505D;
      font-size: 2em;
      font-weight: bold; }
  .home-page-non-logged .imgs-wrapper {
    margin: 25px 0px 0px; }
    .home-page-non-logged .imgs-wrapper .img-wrapper {
      display: inline-block;
      height: 180px;
      margin: 0px 30px; }
      .home-page-non-logged .imgs-wrapper .img-wrapper .home-img {
        height: 150px;
        width: 150px;
        display: block; }
        .home-page-non-logged .imgs-wrapper .img-wrapper .home-img#img-ctrl {
          background: url(../images/Retro_PP.png) no-repeat 0px 40px;
          background-size: 150px; }
        .home-page-non-logged .imgs-wrapper .img-wrapper .home-img#img-rept {
          background: url(../images/Ingeniero_PP.png) no-repeat 24px 0px;
          background-size: 100px;
          height: 150px; }
        .home-page-non-logged .imgs-wrapper .img-wrapper .home-img#img-aut {
          background: url(../images/Volqueta_PP.png) no-repeat 0px 28px;
          background-size: 150px; }
      .home-page-non-logged .imgs-wrapper .img-wrapper label {
        margin: auto; }

.home-page-logged {
  position: absolute;
  width: 80%;
  right: 0px;
  height: 89vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home-page-logged .usr-home {
    width: 400px;
    display: block;
    background: #ECB55B;
    text-align: center;
    padding: 10px;
    margin: 0px auto 50px;
    border-radius: 4px; }
    .home-page-logged .usr-home h1 {
      color: #333; }
  .home-page-logged .logo-wrapper-usr-logged {
    width: 100%; }
    .home-page-logged .logo-wrapper-usr-logged .logo-usr-logged {
      margin: auto;
      background: url(../images/Arenas.png) no-repeat 10px;
      height: 160px;
      display: block;
      background-size: 400px; }

@media (max-width: 767px) {
  .home-page-logged {
    display: none; } }
#sand-core-reports #return-container a, .path-logs #return-container a {
  margin: 0px 0px 0px 60px; }
#sand-core-reports #filters-wrapper .form-item, .path-logs #filters-wrapper .form-item {
  display: inline-block;
  margin: 0px 10px; }
#sand-core-reports #download-wrapper, #sand-core-reports #filters-wrapper, .path-logs #download-wrapper, .path-logs #filters-wrapper {
  padding: 8px 50px; }
#sand-core-reports #download-wrapper .download-label, .path-logs #download-wrapper .download-label {
  margin: 0px 10px;
  display: inline-block; }

#return-container {
  height: 40px;
  padding: 20px 0px 0px; }

#print-cert-btn {
  display: inline-block;
  padding: 8px 10px;
  transition-duration: 1s; }

.disabled {
  opacity: 0.5; }

.hidden-print {
  display: none; }

#origin-cert td {
  border: solid 1px #000;
  border-collapse: collapse; }
#origin-cert input {
  border: none; }
#origin-cert .bold {
  font-weight: bold; }
  #origin-cert .bold input, #origin-cert .bold label {
    font-weight: bold; }
#origin-cert input.left, #origin-cert label.left {
  margin: 0;
  display: inline-block; }
#origin-cert .sign-img {
  text-align: center; }
#origin-cert .form-checkboxes {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  right: 26px;
  border: solid 1px #000; }
  #origin-cert .form-checkboxes .to-show {
    z-index: 30;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff; }
    #origin-cert .form-checkboxes .to-show:after, #origin-cert .form-checkboxes .to-show:before {
      content: '';
      width: 2px;
      height: 10px;
      left: 8px;
      top: 5px;
      background: #000;
      position: absolute;
      display: none; }
    #origin-cert .form-checkboxes .to-show:after {
      transform: rotate(45deg); }
    #origin-cert .form-checkboxes .to-show:before {
      transform: rotate(140deg); }
  #origin-cert .form-checkboxes input[type=checkbox] {
    visibility: hidden; }
    #origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:after, #origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:before {
      display: block; }
  #origin-cert .form-checkboxes:hover input ~ .to-show {
    background: #2196F3; }
#origin-cert #anm-img {
  background: url(../images/anm.png) no-repeat;
  height: 50px;
  width: 195px;
  margin: auto; }
#origin-cert .head-doc #title {
  margin: auto;
  font-weight: bold;
  text-align: center; }
#origin-cert .head-doc #description {
  margin: auto;
  text-align: center; }
#origin-cert .title-cert {
  background: #336633;
  color: #fff; }
  #origin-cert .title-cert label {
    font-weight: bold;
    margin: auto; }
#origin-cert .green-cell {
  background: #99cc66;
  position: relative; }
  #origin-cert .green-cell label {
    margin: auto; }
  #origin-cert .green-cell.explode {
    margin: 5px; }
#origin-cert .title-white {
  padding: 0; }
  #origin-cert .title-white label {
    margin: auto;
    text-align: center; }
#origin-cert .input-check-white {
  position: relative;
  height: 30px; }
  #origin-cert .input-check-white .form-checkboxes {
    right: 15px; }
#origin-cert .input-white input, #origin-cert .input-white label {
  width: 100%;
  text-align: center; }
#origin-cert .select-option {
  cursor: pointer; }
  #origin-cert .select-option label {
    margin: auto; }
  #origin-cert .select-option:hover {
    background: #E8E908; }
  #origin-cert .select-option.selected {
    background: #E8E908; }

.print-wrapper {
  display: block;
  width: 60px;
  height: 80px;
  float: right;
  margin: 10px 49px; }
  .print-wrapper .print-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../images/print.png) no-repeat 5px;
    background-size: 45px; }

@media print {
  body {
    margin: 0;
    border: 0; }
    body header, body footer, body .drupal-notifications, body #return-container {
      display: none; }
    body #main-wrapper {
      overflow: unset !important;
      position: relative;
      display: block;
      margin: 0;
      border: 0;
      padding: 0; }
      body #main-wrapper form {
        width: 120mm; }
      body #main-wrapper [drupal-data-selector="sand-core-certificado-origen"] {
        width: 120mm; }
      body #main-wrapper .messages__wrapper {
        display: none; }
      body #main-wrapper #origin-cert {
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border: 0px;
        width: 105mm;
        overflow: hidden;
        margin: auto; }
        body #main-wrapper #origin-cert label, body #main-wrapper #origin-cert input {
          font-size: 5pt; }
        body #main-wrapper #origin-cert .sign-img img {
          height: 40pt;
          margin: 1pt 0pt 0pt 0pt; }
        body #main-wrapper #origin-cert #anm-img {
          width: 17mm;
          height: 30pt;
          background-size: 17mm;
          background-position-y: 8pt; }
        body #main-wrapper #origin-cert .date-l-wrapper {
          padding: 0; }
          body #main-wrapper #origin-cert .date-l-wrapper .date-labels {
            margin: auto; }
        body #main-wrapper #origin-cert .bnf-esp {
          width: 18mm; }
        body #main-wrapper #origin-cert .date-formater {
          padding: 0;
          text-align: center; }
          body #main-wrapper #origin-cert .date-formater input {
            text-align: center;
            margin: 0;
            padding: 0; }
          body #main-wrapper #origin-cert .date-formater #date-label {
            width: 40pt;
            text-align: center; }
          body #main-wrapper #origin-cert .date-formater #day-input, body #main-wrapper #origin-cert .date-formater #month-input {
            width: 16pt; }
          body #main-wrapper #origin-cert .date-formater #year-input {
            width: 26pt; }
        body #main-wrapper #origin-cert .green-cell.explode {
          margin: 0;
          padding: 0 5pt; }
          body #main-wrapper #origin-cert .green-cell.explode label {
            vertical-align: middle; }
        body #main-wrapper #origin-cert .form-checkboxes {
          width: 9pt;
          height: 9pt;
          right: 6px;
          top: 1pt; }
          body #main-wrapper #origin-cert .form-checkboxes input[type=checkbox] {
            visibility: hidden; }
            body #main-wrapper #origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:after, body #main-wrapper #origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:before {
              display: block; }
          body #main-wrapper #origin-cert .form-checkboxes .to-show {
            width: 9pt;
            height: 9pt; }
            body #main-wrapper #origin-cert .form-checkboxes .to-show:after, body #main-wrapper #origin-cert .form-checkboxes .to-show:before {
              content: '';
              left: 5px;
              top: 1px; }
        body #main-wrapper #origin-cert #num-consecutive {
          width: 17mm; }
        body #main-wrapper #origin-cert #consecutive-input {
          width: 20mm; }
        body #main-wrapper #origin-cert .input-white {
          padding: 0; }
          body #main-wrapper #origin-cert .input-white input[type=text] {
            padding: 0; }
          body #main-wrapper #origin-cert .input-white #unit {
            margin: 3pt 0; }
        body #main-wrapper #origin-cert .input-check-white {
          padding: 0 2pt; }
          body #main-wrapper #origin-cert .input-check-white .rut-label {
            width: 7mm; }
          body #main-wrapper #origin-cert .input-check-white .nit-label {
            width: 6.5mm; }
          body #main-wrapper #origin-cert .input-check-white .cc-label {
            width: 8mm; }
          body #main-wrapper #origin-cert .input-check-white label {
            font-size: 3.5pt; }
          body #main-wrapper #origin-cert .input-check-white .form-checkboxes {
            top: 7pt;
            width: 7pt;
            height: 7pt; }
            body #main-wrapper #origin-cert .input-check-white .form-checkboxes .to-show {
              width: 7pt;
              height: 7pt; }
              body #main-wrapper #origin-cert .input-check-white .form-checkboxes .to-show:after, body #main-wrapper #origin-cert .input-check-white .form-checkboxes .to-show:before {
                content: '';
                left: 3px;
                top: 0px; }
          body #main-wrapper #origin-cert .input-check-white .ce {
            width: 40pt; }
            body #main-wrapper #origin-cert .input-check-white .ce + div {
              top: 7pt; }
        body #main-wrapper #origin-cert .hidden-print {
          display: table-cell; }
        body #main-wrapper #origin-cert td.space {
          border: solid 1px #fff;
          border-right: solid 1px #000; }
          body #main-wrapper #origin-cert td.space input {
            background: #fff; }
      body #main-wrapper .print-wrapper {
        display: none; } }
ptr-wrapper#main-wrapper {
  overflow-y: auto; }

.path-remision #page {
  overflow: hidden; }
  .path-remision #page #main-wrapper {
    overflow: auto; }

#sand-core-remision-form {
  font-size: 1em; }
  #sand-core-remision-form #header-print {
    max-width: 60%;
    margin: auto; }
    #sand-core-remision-form #header-print #left-head, #sand-core-remision-form #header-print #rigth-head {
      display: inline-block;
      width: 48%; }
      #sand-core-remision-form #header-print #left-head label, #sand-core-remision-form #header-print #left-head span, #sand-core-remision-form #header-print #rigth-head label, #sand-core-remision-form #header-print #rigth-head span {
        margin: auto;
        text-align: center; }
    #sand-core-remision-form #header-print #left-head .logo {
      background: url(../images/Arenas.png) no-repeat;
      width: 120px;
      height: 60px;
      background-size: 120px;
      display: block; }
    #sand-core-remision-form #header-print #down-head label {
      margin: auto; }
  #sand-core-remision-form #day, #sand-core-remision-form #month, #sand-core-remision-form #year {
    width: 55px; }
  #sand-core-remision-form .input-wrapper {
    display: inline-block; }
  #sand-core-remision-form .placa-wrapper input {
    text-transform: uppercase; }
  #sand-core-remision-form table, #sand-core-remision-form td {
    border: solid 1px #000;
    border-collapse: collapse; }
  #sand-core-remision-form table {
    max-width: 60%;
    margin: auto; }
    #sand-core-remision-form table input {
      border: none;
      text-align: center;
      display: inline-block; }
    #sand-core-remision-form table label {
      font-size: 1em;
      font-weight: bold;
      display: inline-block; }
  #sand-core-remision-form #down-head-ptr {
    display: none; }
  #sand-core-remision-form .image-style-medium {
    max-width: 250px;
    margin: 0px 0px 0px 35%;
    display: inline-block; }

@media print {
  #page {
    max-width: 130mm; }

  #main-wrapper {
    overflow: unset; }

  .ptr-wrapper {
    width: 1200px; }

  #sand-core-remision-form {
    font-size: 1em;
    max-width: 110mm;
    margin: 0pt 0pt 0pt 5pt; }
    #sand-core-remision-form input {
      font-weight: bold; }
    #sand-core-remision-form #header-print {
      max-width: 100%;
      margin: auto; }
      #sand-core-remision-form #header-print #left-head, #sand-core-remision-form #header-print #rigth-head {
        display: inline-block;
        width: 48%; }
        #sand-core-remision-form #header-print #left-head label, #sand-core-remision-form #header-print #left-head span, #sand-core-remision-form #header-print #rigth-head label, #sand-core-remision-form #header-print #rigth-head span {
          margin: auto;
          text-align: center; }
        #sand-core-remision-form #header-print #left-head label, #sand-core-remision-form #header-print #rigth-head label {
          font-size: 15pt; }
      #sand-core-remision-form #header-print #rigth-head #number-wrapper label {
        font-size: 20pt; }
      #sand-core-remision-form #header-print #left-head .logo {
        background: url(../images/Arenas.png) no-repeat;
        width: 120px;
        height: 60px;
        background-size: 120px;
        display: block; }
      #sand-core-remision-form #header-print #down-head {
        display: none; }
        #sand-core-remision-form #header-print #down-head label {
          margin: auto;
          font-size: 7pt;
          text-align: center; }
    #sand-core-remision-form #day, #sand-core-remision-form #month {
      width: 30pt;
      padding: 0pt; }
    #sand-core-remision-form #year {
      width: 45pt;
      padding: 0pt;
      text-align: center; }
    #sand-core-remision-form .day-wrapper, #sand-core-remision-form .month-wrapper {
      padding: 4pt 2pt; }
    #sand-core-remision-form .input-wrapper {
      display: inline-block; }
      #sand-core-remision-form .input-wrapper input {
        width: 50pt; }
    #sand-core-remision-form input.rz-input {
      width: 190pt; }
    #sand-core-remision-form input.conductor-input {
      width: 155pt; }
    #sand-core-remision-form input.material-input {
      width: 120pt; }
    #sand-core-remision-form input.cantidad-input {
      width: 130pt; }
    #sand-core-remision-form input.dispath-input {
      width: 165pt; }
    #sand-core-remision-form input.total-input {
      width: 140pt; }
    #sand-core-remision-form .placa-wrapper {
      margin: 0pt 0pt 0pt 45pt;
      width: 100pt; }
      #sand-core-remision-form .placa-wrapper input {
        text-transform: uppercase;
        width: 100pt; }
    #sand-core-remision-form .sign {
      height: 30pt; }
    #sand-core-remision-form .sign-label {
      vertical-align: top;
      margin: 12pt 0pt 0pt;
      display: inline-block;
      vertical-align: top; }
    #sand-core-remision-form .image-style-medium {
      max-width: 70pt;
      margin: 0pt 0pt 0pt 25%; }
    #sand-core-remision-form table, #sand-core-remision-form td {
      border: solid 1px #000;
      border-collapse: collapse; }
    #sand-core-remision-form table#remision-table {
      overflow: hidden;
      max-width: inherit;
      width: 95%;
      margin: auto;
      border: 0px; }
      #sand-core-remision-form table#remision-table input {
        border: none;
        text-align: center;
        display: inline-block;
        font-size: 11pt; }
      #sand-core-remision-form table#remision-table label {
        font-size: 11pt;
        font-weight: bold;
        display: inline-block; }
    #sand-core-remision-form #down-head-ptr {
      max-width: 80mm;
      display: block;
      text-align: center;
      width: 94%;
      margin: auto;
      background: rgba(1, 1, 1, 0.2);
      padding: 10pt 0pt; }
      #sand-core-remision-form #down-head-ptr label {
        text-align: center;
        width: 100%;
        margin: 0pt 0pt 7pt; } }
#sand-core-clientes #return-container a,
#sand-core-materiales #return-container a,
#sand-core-pagos-anticipos #return-container a {
  margin: 0; }

.menu-container {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  height: 50px; }
  .menu-container a {
    padding: 12px 0px;
    position: relative;
    display: block;
    color: #45505D;
    font-size: 1.2em; }
    .menu-container a:hover {
      color: #000; }
  .menu-container.outs {
    background: #9CF6F6; }
  .menu-container.dispath {
    background: #F3C98B; }
  .menu-container.cdispath {
    background: #DAA588; }
  .menu-container.client {
    background: #C46D5E; }
  .menu-container.report {
    background: #F56960; }

@media (max-width: 767px) {
  #sand-core-reports-home .card-wrapper {
    box-shadow: none; }
    #sand-core-reports-home .card-wrapper .menu-container {
      height: auto;
      width: 100%; } }
.path-history #page {
  overflow: hidden; }
  .path-history #page #main-wrapper {
    overflow: auto; }
.path-history #filters-wrapper {
  padding: 0px 5%; }
  .path-history #filters-wrapper div {
    display: inline-block; }
.path-history .link-disabled {
  cursor: pointer;
  color: #0071b3; }
  .path-history .link-disabled:hover {
    color: #018fe2; }
.path-history #return-container {
  height: 50px;
  padding: 20px 5% 0; }
  .path-history #return-container a {
    margin: 0 15px 0 0; }

.disabled {
  opacity: 0.5; }

.hidden-print {
  display: none; }

.print-cert header, .print-cert footer {
  display: none; }
.print-cert body {
  width: 100%; }

.origin-cert {
  display: inline-block;
  vertical-align: top; }
  .origin-cert td {
    border: solid 1px #000;
    border-collapse: collapse; }
  .origin-cert input {
    border: none; }
  .origin-cert .bold {
    font-weight: bold; }
    .origin-cert .bold input, .origin-cert .bold label {
      font-weight: bold; }
  .origin-cert input.left, .origin-cert label.left {
    margin: 0;
    display: inline-block; }
  .origin-cert .sign-img {
    text-align: center; }
  .origin-cert .form-checkboxes {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    right: 26px;
    border: solid 1px #000; }
    .origin-cert .form-checkboxes .to-show {
      z-index: 30;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff; }
      .origin-cert .form-checkboxes .to-show:after, .origin-cert .form-checkboxes .to-show:before {
        content: '';
        width: 2px;
        height: 10px;
        left: 8px;
        top: 5px;
        background: #000;
        position: absolute;
        display: none; }
      .origin-cert .form-checkboxes .to-show:after {
        transform: rotate(45deg); }
      .origin-cert .form-checkboxes .to-show:before {
        transform: rotate(140deg); }
    .origin-cert .form-checkboxes input[type=checkbox] {
      visibility: hidden; }
      .origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:after, .origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:before {
        display: block; }
    .origin-cert .form-checkboxes:hover input ~ .to-show {
      background: #2196F3; }
  .origin-cert #anm-img {
    background: url(../images/anm.png) no-repeat;
    height: 50px;
    width: 195px;
    margin: auto;
    display: block; }
  .origin-cert .head-doc #title {
    margin: auto;
    font-weight: bold;
    text-align: center; }
  .origin-cert .head-doc #description {
    margin: auto;
    text-align: center; }
  .origin-cert .title-cert {
    background: #336633;
    color: #fff; }
    .origin-cert .title-cert label {
      font-weight: bold;
      margin: auto; }
  .origin-cert .green-cell {
    background: #99cc66;
    position: relative; }
    .origin-cert .green-cell label {
      margin: auto; }
    .origin-cert .green-cell.explode {
      margin: 5px; }
  .origin-cert .title-white {
    padding: 0; }
    .origin-cert .title-white label {
      margin: auto;
      text-align: center; }
  .origin-cert .input-check-white {
    position: relative;
    height: 30px; }
    .origin-cert .input-check-white .form-checkboxes {
      right: 15px; }
  .origin-cert .input-white input, .origin-cert .input-white label {
    width: 100%;
    text-align: center; }
  .origin-cert .select-option {
    cursor: pointer; }
    .origin-cert .select-option label {
      margin: auto; }
    .origin-cert .select-option:hover {
      background: #E8E908; }
    .origin-cert .select-option.selected {
      background: #E8E908; }

.print-wrapper {
  display: block;
  width: 60px;
  height: 80px;
  float: right;
  margin: 10px 49px; }
  .print-wrapper .print-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../images/print.png) no-repeat 5px;
    background-size: 45px; }

@media print {
  .prt-wrapper {
    margin: 14pt 0pt 0pt; }

  #ptr-button {
    display: none; }

  .print-cert {
    margin: 0;
    border: 0;
    width: 100%; }
    .print-cert #page {
      width: 100%;
      max-width: inherit;
      margin: 0; }
    .print-cert header, .print-cert footer, .print-cert .drupal-notifications, .print-cert #return-container {
      display: none; }
    .print-cert #main-wrapper {
      overflow: unset !important;
      position: relative;
      display: block;
      margin: 0;
      border: 0;
      padding: 0; }
      .print-cert #main-wrapper .messages__wrapper {
        display: none; }
      .print-cert #main-wrapper tr td {
        padding: 0px 9px; }
      .print-cert #main-wrapper .origin-cert {
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border: 0px;
        width: 135mm;
        overflow: hidden;
        margin: auto; }
        .print-cert #main-wrapper .origin-cert label, .print-cert #main-wrapper .origin-cert input {
          font-size: 7pt;
          border: none; }
        .print-cert #main-wrapper .origin-cert .sign-img img {
          height: 25pt;
          margin: 1pt 0pt 0pt 0pt; }
        .print-cert #main-wrapper .origin-cert #anm-img {
          width: 22mm;
          height: 30pt;
          background-size: 21mm;
          background-position-y: 8pt; }
        .print-cert #main-wrapper .origin-cert .date-l-wrapper {
          padding: 0; }
          .print-cert #main-wrapper .origin-cert .date-l-wrapper .date-labels {
            margin: auto; }
        .print-cert #main-wrapper .origin-cert .bnf-esp {
          width: 24mm; }
        .print-cert #main-wrapper .origin-cert .date-formater {
          padding: 0;
          text-align: center; }
          .print-cert #main-wrapper .origin-cert .date-formater input {
            text-align: center;
            margin: 0;
            padding: 0; }
          .print-cert #main-wrapper .origin-cert .date-formater #date-label {
            width: 40pt;
            text-align: center; }
          .print-cert #main-wrapper .origin-cert .date-formater #day-input, .print-cert #main-wrapper .origin-cert .date-formater #month-input {
            width: 21pt; }
          .print-cert #main-wrapper .origin-cert .date-formater #year-input {
            width: 28pt; }
        .print-cert #main-wrapper .origin-cert .green-cell.explode {
          margin: 0;
          padding: 0 5pt; }
          .print-cert #main-wrapper .origin-cert .green-cell.explode label {
            vertical-align: middle; }
        .print-cert #main-wrapper .origin-cert .form-checkboxes {
          width: 9pt;
          height: 9pt;
          right: 6px;
          top: 6pt; }
          .print-cert #main-wrapper .origin-cert .form-checkboxes input[type=checkbox] {
            visibility: hidden; }
            .print-cert #main-wrapper .origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:after, .print-cert #main-wrapper .origin-cert .form-checkboxes input[type=checkbox]:checked + .to-show:before {
              display: block; }
          .print-cert #main-wrapper .origin-cert .form-checkboxes .to-show {
            width: 9pt;
            height: 9pt; }
            .print-cert #main-wrapper .origin-cert .form-checkboxes .to-show:after, .print-cert #main-wrapper .origin-cert .form-checkboxes .to-show:before {
              content: '';
              left: 5px;
              top: 1px; }
        .print-cert #main-wrapper .origin-cert #num-consecutive {
          width: 24mm; }
        .print-cert #main-wrapper .origin-cert #consecutive-input {
          width: 20mm; }
        .print-cert #main-wrapper .origin-cert .input-white {
          padding: 0; }
          .print-cert #main-wrapper .origin-cert .input-white input[type=text] {
            padding: 0; }
          .print-cert #main-wrapper .origin-cert .input-white #unit {
            margin: 3pt 0; }
        .print-cert #main-wrapper .origin-cert .input-check-white {
          padding: 0 2pt; }
          .print-cert #main-wrapper .origin-cert .input-check-white .rut-label {
            width: 7mm; }
          .print-cert #main-wrapper .origin-cert .input-check-white .nit-label {
            width: 6.5mm; }
          .print-cert #main-wrapper .origin-cert .input-check-white .cc-label {
            width: 8mm; }
          .print-cert #main-wrapper .origin-cert .input-check-white label {
            font-size: 5pt; }
          .print-cert #main-wrapper .origin-cert .input-check-white .form-checkboxes {
            top: 7pt;
            width: 7pt;
            height: 7pt; }
            .print-cert #main-wrapper .origin-cert .input-check-white .form-checkboxes .to-show {
              width: 7pt;
              height: 7pt; }
              .print-cert #main-wrapper .origin-cert .input-check-white .form-checkboxes .to-show:after, .print-cert #main-wrapper .origin-cert .input-check-white .form-checkboxes .to-show:before {
                content: '';
                left: 3px;
                top: 0px; }
          .print-cert #main-wrapper .origin-cert .input-check-white .ce {
            width: 46pt; }
            .print-cert #main-wrapper .origin-cert .input-check-white .ce + div {
              top: 7pt; }
        .print-cert #main-wrapper .origin-cert .hidden-print {
          display: table-cell; }
        .print-cert #main-wrapper .origin-cert td.space {
          border: solid 1px #fff;
          border-right: solid 1px #000; }
          .print-cert #main-wrapper .origin-cert td.space input {
            background: #fff; }
      .print-cert #main-wrapper .print-wrapper {
        display: none; } }
#saldo-wrapper div {
  display: inline-block; }
#saldo-wrapper .saldo-div {
  width: 150px; }

#sand-core-disable-client {
  max-width: 1140px;
  margin: auto;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  #sand-core-disable-client .message-delete {
    font-size: 22px; }
  #sand-core-disable-client .action-wrapper .gray-btn {
    background: #bbc1c6;
    color: black; }

input[type=text] {
  text-transform: uppercase; }

#filters-wrapper-cl {
  padding: 0px 23px; }
  #filters-wrapper-cl .cl-field {
    display: inline-block; }

@media print {
  .cert-ptr-alt {
    margin: 14pt 0pt 0pt; } }

/*# sourceMappingURL=main.css.map */
