.pager-container {
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 25px 0; }
  .pager-container .pager-items--container {
    padding: 0 25px; }
  .pager-container .pager-items--container-controls {
    width: 280px;
    display: flex;
    justify-content: center; }
  .pager-container .pager-items--container-pages {
    min-width: 380px;
    display: flex;
    justify-content: center; }
  .pager-container .pager--unit-control {
    margin: 0 8px;
    padding: 5px 8px;
    background-color: #ECB55B;
    color: #fff; }
  .pager-container .pager--page-item {
    background-color: #ECB55B;
    color: #fff;
    padding: 5px 8px;
    margin: 0 2px; }
    .pager-container .pager--page-item.selected {
      background-color: #fff;
      color: #000; }

/*# sourceMappingURL=pager.css.map */
