.ui-autocomplete {
  position: relative; }
  .ui-autocomplete .ui-autocomplete-input {
    border: solid 1px #000; }
  .ui-autocomplete .ui-autocomplete-list {
    position: absolute;
    overflow: auto;
    max-height: 250px;
    background-color: #fff;
    width: 100%;
    left: 0;
    padding: 0; }
  .ui-autocomplete .ui-autocomplete-item {
    list-style: none;
    padding: 8px 4px; }
    .ui-autocomplete .ui-autocomplete-item:not(:last-child) {
      border-bottom: solid 1px #999; }
    .ui-autocomplete .ui-autocomplete-item:hover {
      cursor: pointer;
      background-color: #8fc8f7; }

/*# sourceMappingURL=ui_autocomplete.css.map */
