.ui-message {
  color: #fff;
  width: 550px;
  padding: 25px 20px 25px 70px;
  position: fixed;
  margin: auto;
  bottom: 180px;
  animation: showMessage 500ms ease;
  left: 0;
  right: 0;
  display: flex;
  align-items: center; }
  .ui-message.notice {
    background-color: #336633; }
    .ui-message.notice .ui-message-icon::after, .ui-message.notice .ui-message-icon::before {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      background-color: #fff; }
    .ui-message.notice .ui-message-icon::before {
      top: 18px;
      transform: rotate(45deg);
      width: 11px !important;
      left: 6px; }
    .ui-message.notice .ui-message-icon::after {
      right: 4px;
      top: 16px;
      transform: rotate(130deg);
      width: 20px !important; }
  .ui-message.warning {
    background-color: #E5930B; }
    .ui-message.warning .ui-message-icon::before {
      content: "!";
      color: #fff;
      font-size: 26px; }
  .ui-message.error {
    background-color: #a62b16; }
    .ui-message.error .ui-message-icon::after, .ui-message.error .ui-message-icon::before {
      content: "";
      display: block;
      position: absolute;
      width: 22px;
      height: 3px;
      background-color: #fff; }
    .ui-message.error .ui-message-icon::before {
      top: 17px;
      transform: rotate(45deg);
      left: 6px; }
    .ui-message.error .ui-message-icon::after {
      right: 7px;
      top: 17px;
      transform: rotate(130deg); }
  .ui-message.hide-message {
    bottom: -500px;
    animation: hideMessage 200ms ease; }
  .ui-message .ui-message-icon {
    border: solid 2px #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    left: 18px;
    text-align: center; }

@keyframes showMessage {
  from {
    bottom: -500px; }
  to {
    bottom: 180px; } }
@keyframes hideMessage {
  from {
    bottom: 180px; }
  to {
    bottom: -500px; } }

/*# sourceMappingURL=ui_message.css.map */
