<button class="btn-basic button js-form-submit form-submit" id="ptr-button">IMPRIMIR</button>
<div class="ptr-wrapper cert-ptr-alt" id="print_page">
  {% if anulado == 0 %}
  <div class="disabled-mark dis-remision js-form-wrapper form-wrapper" data-drupal-selector="edit-wrapper-disabled" id="edit-wrapper-disabled">
	  <label class="anulado" data-drupal-selector="edit-wrapper-disabled-anulado" for="edit-wrapper-disabled-anulado">
		  ANULADO
		</label>
	</div>
	{% endif %}
	<table class="origin-cert">
		<tbody>
			<tr data-drupal-selector="edit-table-firstrow" class="odd">
				<td colspan="4">
					<span id="anm-img"></span>
				</td>
				<td colspan="5" class="head-doc">
					<label id="title" data-drupal-selector="edit-table-firstrow-title-wrapper-title" for="edit-table-firstrow-title-wrapper-title">VICEPRESIDENCIA DE SEGUIMIENTO CONTROL Y SEGURIDAD MINERA</label>
					<label id="description" data-drupal-selector="edit-table-firstrow-title-wrapper-group" for="edit-table-firstrow-title-wrapper-group">Grupo de Regalías y Contraprestaciones Económicas</label>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-secondrow" class="even">
				<td colspan="9" class="title-cert">
					<label data-drupal-selector="edit-table-secondrow-title" for="edit-table-secondrow-title">CERTIFICADO DE ORIGEN EXPLOTADOR MINERO AUTORIZADO</label>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-thirdrow" class="odd">
				<td rowspan="2" colspan="2" class="green-cell">
					<label id="date-label" data-drupal-selector="edit-table-thirdrow-datelabel" for="edit-table-thirdrow-datelabel">FECHA</label>
				</td>
				<td class="date-l-wrapper">
					<label class="date-labels" id="day-label" data-drupal-selector="edit-table-thirdrow-day" for="edit-table-thirdrow-day">DD</label>
				</td>
				<td class="date-l-wrapper">
					<label class="date-labels" id="month-label" data-drupal-selector="edit-table-thirdrow-month" for="edit-table-thirdrow-month">MM</label>
				</td>
				<td class="date-l-wrapper">
					<label id="year-label" class="date-labels" data-drupal-selector="edit-table-thirdrow-year" for="edit-table-thirdrow-year">AAAA</label>
				</td>
				<td rowspan="2" colspan="2" class="green-cell">
					<label id="num-consecutive" data-drupal-selector="edit-table-thirdrow-consecutive" for="edit-table-thirdrow-consecutive">
						No. Consecutivo del certificado de origen</label>
				</td>
				<td rowspan="2" colspan="2">
					<div rowspan="2" colspan="2" class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-thirdrow-consecutiveinput form-item-table-thirdrow-consecutiveinput form-no-label">
						<input id="consecutive-input" data-drupal-selector="edit-table-thirdrow-consecutiveinput" type="text" name="table[thirdRow][consecutiveInput]" value={{ id_cert }} size="60" maxlength="128" class="form-text">
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-fourthrow" class="even">
				<td class="date-formater">
					<div class="date-formater js-form-item form-item js-form-type-number form-type-number js-form-item-table-fourthrow-day form-item-table-fourthrow-day form-no-label">
						<input id="day-input" data-drupal-selector="edit-table-fourthrow-day" type="number" name="table[fourthRow][day]" value={{ day }} step="1" class="form-number">

					</div>
				</td>
				<td class="date-formater">
					<div class="date-formater js-form-item form-item js-form-type-number form-type-number js-form-item-table-fourthrow-month form-item-table-fourthrow-month form-no-label">
						<input id="month-input" data-drupal-selector="edit-table-fourthrow-month" type="number" name="table[fourthRow][month]" value={{ month }} step="1" class="form-number">

					</div>
				</td>
				<td class="date-formater">
					<div class="date-formater js-form-item form-item js-form-type-number form-type-number js-form-item-table-fourthrow-year form-item-table-fourthrow-year form-no-label">
						<input id="year-input" data-drupal-selector="edit-table-fourthrow-year" type="number" name="table[fourthRow][year]" value={{ year }} step="1" class="form-number">
					</div>
				</td>
			</tr>


<tr data-drupal-selector="edit-table-seventeenth" class="odd">
				<td colspan="9" class="title-cert">
					<label data-drupal-selector="edit-table-seventeenth-title" for="edit-table-seventeenth-title">INFORMACIÓN DEL COMPRADOR DEL MINERAL</label>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-eighteenth" class="even">
				<td colspan="5" class="green-cell">
					<label data-drupal-selector="edit-table-eighteenth-nameout" for="edit-table-eighteenth-nameout">NOMBRES Y APELLIDOS O RAZON SOCIAL</label>
				</td>
				<td colspan="4" class="input-white">
					<div colspan="4" class="input-white js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-eighteenth-nameoutinput form-item-table-eighteenth-nameoutinput form-no-label">
						<input data-drupal-selector="edit-table-eighteenth-nameoutinput" type="text" id="edit-table-eighteenth-nameoutinput" name="table[eighteenth][nameOutInput]" value="{{ razonSocial }}" size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-nineteenth" class="odd">
				<td colspan="5" class="green-cell">
					<label data-drupal-selector="edit-table-nineteenth-nameout" for="edit-table-nineteenth-nameout">TIPO DE IDENTIFICACIÓN</label>
				</td>
				<td class="input-check-white">
					<label class="left nit-label" data-drupal-selector="edit-table-nineteenth-nit-label" for="edit-table-nineteenth-nit-label">NIT</label>
					<div class="form-checkboxes">
						<input class="to-watch form-checkbox" id="doc-client-nit" data-drupal-selector="edit-table-nineteenth-nit-check" type="checkbox" name="table[nineteenth][nit][check]" value={{ nit }}
						{% if nit %}
						  checked="checked"
						{% endif %}
						>

						<label class="to-show" for="doc-client-nit"></label>
					</div>
				</td>
				<td class="input-check-white">
					<label class="left cc-label" data-drupal-selector="edit-table-nineteenth-cc-label" for="edit-table-nineteenth-cc-label">CÉDULA</label>
					<div class="form-checkboxes">
						<input class="to-watch form-checkbox" id="doc-client-cc" data-drupal-selector="edit-table-nineteenth-cc-check" type="checkbox" name="table[nineteenth][cc][check]" value={{ cc }}
						{% if cc %}
						  checked="checked"
						{% endif %}
						>
						<label class="to-show" for="doc-client-cc"></label>
					</div>
				</td>
				<td class="input-check-white">
					<label class="left ce" data-drupal-selector="edit-table-nineteenth-ce-label" for="edit-table-nineteenth-ce-label">CÉDULA DE EXTRANJERÍA</label>
					<div class="form-checkboxes">
						<input class="to-watch form-checkbox" id="doc-client-ce" data-drupal-selector="edit-table-nineteenth-ce-check" type="checkbox" name="table[nineteenth][ce][check]" value={{ ce }}
						{% if ce %}
						  checked="checked"
						{% endif %}
						>
						<label class="to-show" for="doc-client-ce"></label>
					</div>
				</td>
				<td class="input-check-white">
					<label class="left rut-label" data-drupal-selector="edit-table-nineteenth-rut-label" for="edit-table-nineteenth-rut-label">RUT</label>
					<div class="form-checkboxes">
						<input class="to-watch form-checkbox" id="doc-client-rut" data-drupal-selector="edit-table-nineteenth-rut-check" type="checkbox" name="table[nineteenth][rut][check]" value={{ rut }}
						{% if rut %}
						  checked="checked"
						{% endif %}
						>
						<label class="to-show" for="doc-client-rut"></label>
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-twentieth" class="even">
				<td colspan="5" class="green-cell">
					<label data-drupal-selector="edit-table-twentieth-buyer-title" for="edit-table-twentieth-buyer-title">COMPRADOR</label>
					<label data-drupal-selector="edit-table-twentieth-buyer-description" for="edit-table-twentieth-buyer-description">(Seleccione una oopción)</label>
				</td>
        {% if type == "dealer" %}
          <td colspan="2" class="select-option selected" id="client-reazon-dealer">
            <label data-drupal-selector="dealer" for="dealer">COMERCIALIZADOR</label>
          </td>
          <td colspan="2" class="select-option" id="client-reazon-customer">
            <label data-drupal-selector="customer" for="customer">CONSUMIDOR</label>
          </td>
        {% else %}
          <td colspan="2" class="select-option" id="client-reazon-dealer">
            <label data-drupal-selector="dealer" for="dealer">COMERCIALIZADOR</label>
          </td>
          <td colspan="2" class="select-option selected" id="client-reazon-customer">
            <label data-drupal-selector="customer" for="customer">CONSUMIDOR</label>
          </td>
        {% endif %}
			</tr>
			<tr data-drupal-selector="edit-table-twentyfirst" class="odd">
				<td colspan="5" class="green-cell">
					<label data-drupal-selector="edit-table-twentyfirst-document" for="edit-table-twentyfirst-document">No. DOCUMENTO DE IDENTIDAD</label>
				</td>
				<td colspan="4" class="input-white">
					<div colspan="4" class="input-white js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-twentyfirst-documentoutinput form-item-table-twentyfirst-documentoutinput form-no-label">
						<input class="to-watch form-text" id="client-doc-input" data-drupal-selector="edit-table-twentyfirst-documentoutinput" type="text" name="table[twentyFirst][documentOutInput]" value={{ document }} size="60" maxlength="128">
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-twentysecond" class="even">
				<td colspan="5" class="green-cell">
					<label data-drupal-selector="edit-table-twentysecond-rucom" for="edit-table-twentysecond-rucom">No. RUCOM</label>
				</td>
				<td colspan="4" class="input-white">
					<div colspan="4" class="input-white js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-twentysecond-rucominput form-item-table-twentysecond-rucominput form-no-label">
						<input data-drupal-selector="edit-table-twentysecond-rucominput" type="text" id="edit-table-twentysecond-rucominput" name="table[twentySecond][rucomInput]" value={{ rucom }} size="60" maxlength="128" class="form-text">
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-twentythird" class="odd">
				<td colspan="5" class="title-cert bold">
					<label data-drupal-selector="edit-table-twentythird-sign" for="edit-table-twentythird-sign">FIRMA DEL EXPLOTADOR MINERO AUTORIZADO</label>
				</td>
				<td colspan="4" class="input-white sign-img"><img data-drupal-selector="sign-img" src={{ sign }} alt="" typeof="foaf:Image" class="image-style-medium">
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-twentyfourth" class="even">
				<td colspan="7" class="input-white hidden-print space">
					<div colspan="7" class="input-white hidden-print space js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-twentyfourth-other form-item-table-twentyfourth-other form-no-label form-disabled">
						<input data-drupal-selector="edit-table-twentyfourth-other" disabled="disabled" type="text" id="edit-table-twentyfourth-other" name="table[twentyfourth][other]" value="" size="60" maxlength="128" class="form-text">
					</div>
				</td>
				<td colspan="4" class="input-white hidden-print">
					<label data-drupal-selector="edit-table-twentyfourth-remision" for="edit-table-twentyfourth-remision">Remisión: {{ remision }}</label>
				</td>
			</tr>
			
		</tbody>
	</table>


	<table class="origin-cert">
		<tbody>
			<tr data-drupal-selector="edit-table-fifth" class="odd">
				<td colspan="9" class="title-cert">
					<label data-drupal-selector="edit-table-fifth-title" for="edit-table-fifth-title">INFORMACIÓN DEL PRODUCTOR DEL MINERAL</label>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-sixth" class="even">
				<td rowspan="2" colspan="5" class="green-cell">
					<label class="bold" data-drupal-selector="edit-table-sixth-authminer-title" for="edit-table-sixth-authminer-title">EXPLOTADOR MINERO AUTORIZADO</label>
					<label data-drupal-selector="edit-table-sixth-authminer-description" for="edit-table-sixth-authminer-description">(Seleccione una opción)</label>
				</td>
				<td colspan="2" class="green-cell explode">
					<label class="bold left" data-drupal-selector="edit-table-sixth-titular-titulartitle" for="edit-table-sixth-titular-titulartitle">Titular Minero</label>
					<div class="form-checkboxes">
						<input class="sand-check form-checkbox" data-drupal-selector="edit-table-sixth-titular-titularopt" type="checkbox" id="edit-table-sixth-titular-titularopt" name="table[sixth][titular][titularOpt]" value="1" checked="checked">

						<label class="to-show" for="edit-table-sixth-titular-titularopt"></label>
					</div>
				</td>
				<td colspan="2" class="green-cell explode">
					<label class="bold left bnf-esp" data-drupal-selector="edit-table-sixth-benefit-benefittitle" for="edit-table-sixth-benefit-benefittitle">Beneficiario de Área de Reserva Especial</label>
					<div class="form-checkboxes">
						<input class="sand-check form-checkbox" data-drupal-selector="edit-table-sixth-benefit-benefitopt" type="checkbox" id="edit-table-sixth-benefit-benefitopt" name="table[sixth][benefit][benefitOpt]" value="1">

						<label class="to-show" for="edit-table-sixth-benefit-benefitopt"></label>
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-seventh" class="odd">
				<td colspan="2" class="green-cell explode">
					<label class="bold left" data-drupal-selector="edit-table-seventh-legalization-legalizationtitle" for="edit-table-seventh-legalization-legalizationtitle">Solicitante de  Legalización</label>
					<div class="form-checkboxes">
						<input class="sand-check form-checkbox" data-drupal-selector="edit-table-seventh-legalization-legalizationopt" type="checkbox" id="edit-table-seventh-legalization-legalizationopt" name="table[seventh][legalization][legalizationOpt]" value="1">

						<label class="to-show" for="edit-table-seventh-legalization-legalizationopt"></label>
					</div>
				</td>
				<td colspan="2" class="green-cell explode">
					<label class="bold left" data-drupal-selector="edit-table-seventh-subcontract-subcontracttitle" for="edit-table-seventh-subcontract-subcontracttitle">Subcontrato de  Formalización</label>
					<div class="form-checkboxes">
						<input class="sand-check form-checkbox" data-drupal-selector="edit-table-seventh-subcontract-subcontractopt" type="checkbox" id="edit-table-seventh-subcontract-subcontractopt" name="table[seventh][subcontract][subcontractOpt]" value="1">

						<label class="to-show" for="edit-table-seventh-subcontract-subcontractopt"></label>
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-eighth" class="even">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-eighth-code" for="edit-table-eighth-code">CÓDIGO EXPEDIENTE</label>
				</td>
				<td colspan="4" class="input-white bold">
					<div colspan="4" class="input-white bold js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-eighth-codeinput form-item-table-eighth-codeinput form-no-label">
						<input data-drupal-selector="edit-table-eighth-codeinput" type="text" id="edit-table-eighth-codeinput" name="table[eighth][codeInput]" value="BK9-141" size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-ninth" class="odd">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-ninth-name" for="edit-table-ninth-name">NOMBRES Y APELLIDOS O RAZON SOCIAL DEL EXPLOTADOR MINERO AUTORIZADO</label>
				</td>
				<td colspan="4" class="input-white">
					<label data-drupal-selector="edit-table-ninth-nameinput" for="edit-table-ninth-nameinput">IVONE MONTOYA BELLO - ARENAS Y AGREGADOS IVONE S.A.S</label>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-tenth" class="even">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-tenth-type" for="edit-table-tenth-type">TIPO DE IDENTIFICACIÓN DEL EXPLOTADOR MINERO AUTORIZADOR</label>
				</td>
				<td class="input-check-white">
					<label class="left nit-label" data-drupal-selector="edit-table-tenth-nit-label" for="edit-table-tenth-nit-label">NIT</label>
					<div class="form-checkboxes">
						<input data-drupal-selector="edit-table-tenth-nit-check" type="checkbox" id="edit-table-tenth-nit-check" name="table[tenth][nit][check]" value="1" checked="checked" class="form-checkbox">

						<label class="to-show" for="edit-table-tenth-nit-check"></label>
					</div>
				</td>
				<td class="input-check-white">
					<label class="left cc-label" data-drupal-selector="edit-table-tenth-cc-label" for="edit-table-tenth-cc-label">CÉDULA</label>
					<div class="form-checkboxes">
						<input data-drupal-selector="edit-table-tenth-cc-check" type="checkbox" id="edit-table-tenth-cc-check" name="table[tenth][cc][check]" value="1" checked="checked" class="form-checkbox">

						<label class="to-show" for="edit-table-tenth-cc-check"></label>
					</div>
				</td>
				<td class="input-check-white">
					<label class="left ce" data-drupal-selector="edit-table-tenth-ce-label" for="edit-table-tenth-ce-label">CÉDULA DE EXTRANJERÍA</label>
					<div class="form-checkboxes">
						<input data-drupal-selector="edit-table-tenth-ce-check" type="checkbox" id="edit-table-tenth-ce-check" name="table[tenth][ce][check]" value="1" class="form-checkbox">

						<label class="to-show" for="edit-table-tenth-ce-check"></label>
					</div>
				</td>
				<td class="input-check-white">
					<label class="left rut-label" data-drupal-selector="edit-table-tenth-rut-label" for="edit-table-tenth-rut-label">RUT</label>
					<div class="form-checkboxes">
						<input data-drupal-selector="edit-table-tenth-rut-check" type="checkbox" id="edit-table-tenth-rut-check" name="table[tenth][rut][check]" value="1" class="form-checkbox">

						<label class="to-show" for="edit-table-tenth-rut-check"></label>
					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-eleventh" class="odd">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-eleventh-document" for="edit-table-eleventh-document">No. DOCUMENTO DE IDENTIDAD  DEL EXPLOTADOR MINERO AUTORIZADOR</label>
				</td>
				<td colspan="4" class="input-white bold">
					<div colspan="4" class="input-white bold js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-eleventh-documentinput form-item-table-eleventh-documentinput form-no-label">
						<input data-drupal-selector="edit-table-eleventh-documentinput" type="text" id="edit-table-eleventh-documentinput" name="table[eleventh][documentInput]" value="C.C. 39.660.625 - NIT: 900.801.033-5" size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-twelfth" class="even">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-twelfth-state" for="edit-table-twelfth-state">DEPARTAMENTO (S) DONDE REALIZA LA EXPLOTACIÓN</label>
				</td>
				<td colspan="4" class="input-white bold">
					<div colspan="4" class="input-white bold js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-twelfth-stateinput form-item-table-twelfth-stateinput form-no-label">
						<input data-drupal-selector="edit-table-twelfth-stateinput" type="text" id="edit-table-twelfth-stateinput" name="table[twelfth][stateInput]" value="CUNDINAMARCA" size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-thirteenth" class="odd">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-thirteenth-town" for="edit-table-thirteenth-town">MUNICIPIO(S) DONDE SE REALIZA LA EXPLOTACION</label>
				</td>
				<td colspan="4" class="input-white bold">
					<div colspan="4" class="input-white bold js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-thirteenth-towninput form-item-table-thirteenth-towninput form-no-label">
						<input data-drupal-selector="edit-table-thirteenth-towninput" type="text" id="edit-table-thirteenth-towninput" name="table[thirteenth][townInput]" value="SOACHA" size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-fourteenth" class="even">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-fourteenth-material" for="edit-table-fourteenth-material">MINERAL EXPLOTADO</label>
				</td>
				<td colspan="4" class="input-white bold">
					<div colspan="4" class="input-white bold js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-fourteenth-materialinput form-item-table-fourteenth-materialinput form-no-label">
						<input data-drupal-selector="edit-table-fourteenth-materialinput" type="text" id="edit-table-fourteenth-materialinput" name="table[fourteenth][materialInput]" value={{ material }} size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-fifteenth" class="odd">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-fifteenth-quantity" for="edit-table-fifteenth-quantity">CANTIDAD MINERAL COMERCIALIZADO</label>
				</td>
				<td colspan="4" class="input-white bold">
					<div colspan="4" class="input-white bold js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-table-fifteenth-quantityinput form-item-table-fifteenth-quantityinput form-no-label">
						<input data-drupal-selector="edit-table-fifteenth-quantityinput" type="text" id="edit-table-fifteenth-quantityinput" name="table[fifteenth][quantityInput]" value={{ cantMaterial }} size="60" maxlength="128" class="form-text">

					</div>
				</td>
			</tr>
			<tr data-drupal-selector="edit-table-sixteenth" class="even">
				<td colspan="5" class="title-white">
					<label data-drupal-selector="edit-table-sixteenth-unit" for="edit-table-sixteenth-unit">UNIDAD DE MEDIDA</label>
				</td>
				<td colspan="4" class="input-white bold">
					<label id="unit" data-drupal-selector="edit-table-sixteenth-unitinput" for="edit-table-sixteenth-unitinput">m³</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>
