{% if isAnonymous %}
  <div id="icon-header">
  </div>

  <nav id="initial-menu">
    <a class="nav-opt" id="sign-in">Iniciar sesión</a>
    <a class="nav-opt" id="about-us">Acerca de</a>
  </nav>

  <div class="login-form-wrapper popup hidden">
    {{ user_login_form }}
  </div>
{% else %}
  <div class="logged-header-wrapper">
    {#<div class="user-name-header">
      <p>{{ userName }}</p>
    </div>#}
    <div class="page-title">
      <h1>{{ pageTitle }}</h1>
    </div>
    <a href="/" id="icon-header" class="right-aling">
    </a>
  </div>
{% endif %}
