{% if isAnonymous %}
  <section class="home-page-non-logged">
    <article class="home-elements">
      <div class="home-title">
        <h1>
          Software de gestión entrada y
          salida de materiales
        </h1>
      </div>
      <div class="imgs-wrapper">
        <div class="img-wrapper">
          <span class="home-img" id="img-ctrl"></span>
          <label>Control</label>
        </div>
        <div class="img-wrapper">
          <span class="home-img" id="img-rept"></span>
          <label>Reportes</label>
        </div>
        <div class="img-wrapper">
          <span class="home-img" id="img-aut"></span>
          <label>Automatización</label>
        </div>
      </div>
    </article>
  </section>
{% else %}
  <section class="home-page-logged">
    <article>
      <div class="usr-home">
        <h1>Bienvenido, {{ userName }}</h1>
      </div>
      <div class="logo-wrapper-usr-logged">
        <span class="logo-usr-logged">
        </span>
      </div>
    </article>
  </section>
{% endif %}