{% if not isAnonymous %}
  {% set class = "nav-el" %}
  <section class="menu-logged-simple-block">
    <div class="logo-menu-logged">
      <span class="logo">
      </span>
    </div>
    <nav class="menu-logged-simple">
      <ul class="u-list-wrapper">
        {% for option in menuElements %}
          {% if option.class %}
            <li class='{{ (class ~" " ~option.class) }}'>
          {% else %}
            <li class={{ class }}>
          {% endif %}
            <a href="{{ option.path }}">{{ option.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <article class="menu-log-out">
      {{ logOut }}
    </article>
  </section>
{% endif %}