$color1: #fff;
$color2: #61E34D;
$color3: #ECB55B;
$color4: #333;
$color5: #FFCC99;
$color6: #999;
$color7: #45505D;
$color8: #336633;
$color9: #99cc66;
$color10: #000;
$color11: #2196F3;
$color12: #E8E908;
$color13: #9CF6F6;
$color14: #F3C98B;
$color15: #DAA588;
$color16: #C46D5E;
$color17: #F56960;

$warning: #E5930B;
$error: #a62b16;

$autoLight: #8fc8f7;
