footer {

  .contextual-region {
    position: inherit;
  }

  .middle-footer, .full-footer {
    height: 11vh;
    background: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;

    .site-mark-wrapper {
      display: flex;
      height: 20px;
    }
  }

  .middle-footer {
    right: 0px;
    width: 80%;
  }

  .full-footer {
    width: 100%;
    left: 0px;
  }

  $media-mobile-max: 767px !default;

  @media (max-width: $media-mobile-max) {
    .middle-footer {
      width: 100%;
      left: 0px;
    }
  }

}