$media-mobile-max: 767px !default;

header#header {
  background: $color1;

  .block-header-simple {
    width: 100%;
    height: 100px;

    #icon-header {
      background: url(../images/Arenas.png) no-repeat;
      width: 170px;
      height: 68px;
      background-size: 165px;
      display: inline-block;
      margin: 15px 0px 0px 50px;
    }

    #initial-menu {
      display: inline-block;
      float: right;
      margin: 40px 40px 0px;

      .nav-opt {
        margin: 0px 15px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .login-form-wrapper {
      position: absolute;
      height: calc(100vh - 11vh);
      width: 100vw;
      top: 0px;
      left: 0px;
      background: rgba(0,0,0, 0.7);
      z-index: 2;
      transition-duration: 1s;

      form {
        background: rgba(69, 175, 198, 0.7);
        width: 30%;
        margin: 100px auto 0px;
        border-radius: 26px;
        padding: 20px;
        position: relative;

        .close-pop-up {
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          background: $color4;
          top: 0px;
          right: 0px;
          transform: translate(5px, -6px);
          border-radius: 100%;
          cursor: pointer;

          &:before, &:after {
            content: '';
            display: block;
            height: 15px;
            width: 2px;
            background: $color1;
            border-radius: 3px;
          }

          &:before {
            transform: rotate(45deg) translate(15px, -5px);
          }

          &:after {
            height: 16px;
            transform: rotate(135deg) translate(-16px, -4px);
          }
        }

        label.form-required {
          color: $color1;
          font-weight: bold;
          display: block;
          margin: auto;
          width: 80%;

          &::after {
            display: none;
          }
        }

        input {
          background: none;
          color: $color1;
          border: none;
          border-bottom: solid 1px $color1;
          width: 80%;
          display: block;
          margin: auto;
          outline: none;
          font-size: 1em;
          font-weight: bold; 
        }

        .button {
          text-transform: uppercase;
          background: $color2;
          border-radius: 15px;
          border: none;
          font-size: 1.2em;
        }

        .description {
          display: none;
        }
      }
    }

    .logged-header-wrapper {
      text-align: center;
      width: 100%;
      .user-name-header, .page-title{
        display: inline-block;
      }


      .page-title {
        h1 {
          color: $color7;
          margin: 35px 0px 0px;
        }
      }

      .user-name-header {
        position: absolute;
        left: 0px;
        margin: 40px 0px 0px 80px;
      }

      #icon-header.right-aling {
        right: 0px;
        position: absolute;
        margin: 15px 50px 0px 0px;
      }
    }
  }

  @media (max-width: $media-mobile-max) {

    .block-header-simple {
  
      #icon-header {
        &.right-aling{
         display: none;
        }
      }
    }
  }
}