.home-page-non-logged {
  text-align: center;

  .home-title {
    width: 50%;
    margin: auto;

    h1 {
      color: $color7;
      font-size: 2em;
      font-weight: bold;
    }
  }

  .imgs-wrapper {
    margin: 25px 0px 0px;

    .img-wrapper {
      display: inline-block;
      height: 180px;
      margin: 0px 30px;

      .home-img{
        height: 150px;
        width: 150px;
        display: block;

        &#img-ctrl {
          background: url(../images/Retro_PP.png) no-repeat 0px 40px;
          background-size: 150px;
        }

        &#img-rept {
          background: url(../images/Ingeniero_PP.png) no-repeat 24px 0px;
          background-size: 100px;
          height: 150px;
        }

        &#img-aut {
          background: url(../images/Volqueta_PP.png) no-repeat 0px 28px;
          background-size: 150px;
        }
      }

      label {
        margin: auto;
      }
    }
  }
}

.home-page-logged {
  position: absolute;
  width: 80%;
  right: 0px;
  height: 89vh;
  background: $color1;
  display: flex;
  align-items: center;
  justify-content: center;

  .usr-home {
    width: 400px;
    display: block;
    background: $color3;
    text-align: center;
    padding: 10px;
    margin: 0px auto 50px;
    border-radius: 4px;

    h1 {
      color: $color4;
    }
  }

  .logo-wrapper-usr-logged {
    width: 100%;

    .logo-usr-logged {
      margin: auto;
      background: url(../images/Arenas.png) no-repeat 10px;
      height: 160px;
      display: block;
      background-size: 400px;
    }
  }
  
}

$media-mobile-max: 767px !default;

@media (max-width: $media-mobile-max) {
  .home-page-logged {
    display: none;
  }
}