.user-logged-in.path-frontpage {
  header {
    display: none;
  }
}

.menu-logged-simple-block {
  position: absolute;
  height: 100vh;
  width: 20%;
  top: 0px;
  background: $color3;


  .logo-menu-logged {
    display: none;
  }

  .user-data {
    text-align: center;
    p {
      color: $color6;
      font-size: 1em;
    }
  }

  .menu-logged-simple {
    width: 100%;

    .u-list-wrapper {
      padding: 0px;

      .nav-el {
        list-style: none;
        border-top: solid 1px $color5;

        &.border-bottom {
          border-bottom: solid 1px $color5;
        }

        a {
          color: $color4;
          border: none;
          font-size: 1.1em;
          width: 100%;
          display: block;
          padding: 10px;
        }
      }
    }
  }

  .menu-log-out {
    position: absolute;
    bottom: 20px;
    margin: auto;

    a {
      color: $color4;
      margin: 12px;
    }
  }
}

.toolbar-fixed {
  .menu-logged-simple-block {
    height: calc(100vh - 39px);
  }
}

$media-mobile-max: 767px !default;

@media (max-width: $media-mobile-max) {
  .menu-logged-simple-block {
    width: 70%;
    height: auto;
    background: $color1;
    height: 89vh;
    text-align: center;
    margin: auto;
    position: relative;


    .logo-menu-logged {
      display: block;
      span.logo {
        background: url(../images/Arenas.png) no-repeat 25px;
        width: 200px;
        height: 100px;
        display: block;
        background-size: 150px;
        margin: auto;
      }
    }

    .menu-log-out {
      width: 100%;
      bottom: 25px;

      a {
        width: 100%;
        background: $color3;
        padding: 14px;
        border-radius: 2.55px;
      }
    }

    .menu-logged-simple {

      .u-list-wrapper {

        .nav-el {

          a {
            padding: 10px 0px;
          }
        }
      }
    }
  }
}