@import "assests/color";
@import "assests/header";
@import "assests/footer";
@import "assests/menu_logged";
@import "assests/home";
@import "pages/reports";
@import "pages/cert";
@import "pages/remision";
@import "pages/forms";
@import "pages/home_reports";
@import "pages/history";
@import "pages/print_cert";
@import "pages/client";
@import "pages/remove_client";

$media-mobile-max: 767px !default;

input[type=text] {
  text-transform: uppercase;
}

#filters-wrapper-cl {
  padding: 0px 23px;
  .cl-field {
    display: inline-block;
  }
}

@media print {
  .cert-ptr-alt {
    margin: 14pt 0pt 0pt;
  }
}