@import "assests/color";

#return-container {
  height: 40px;
  padding: 20px 0px 0px;
}
#print-cert-btn {
  display: inline-block;
  padding: 8px 10px;
  transition-duration: 1s;
}

.disabled {
  opacity: 0.5;
}

.hidden-print{
  display: none;
}

#origin-cert {
  td {
    border: solid 1px $color10;
    border-collapse: collapse;
  }

  input {
    border: none;
  }

  .bold {
    font-weight: bold;
    input, label {
      font-weight: bold;
    }
  }

  input, label {
    &.left {
      margin: 0;
      display: inline-block;
    }
  }

  .sign-img {
    text-align: center;
  }

  .form-checkboxes {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    right: 26px;
    border: solid 1px $color10;

    .to-show {
      z-index: 30;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background: $color1;

      &:after, &:before {
        content: '';
        width: 2px;
        height: 10px;
        left: 8px;
        top: 5px;
        background: $color10;
        position: absolute;
        display: none;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(140deg);
      }
    }

    input[type=checkbox] {
      visibility: hidden;
      &:checked {
        + .to-show:after, + .to-show:before {
          display: block;
        }
      }   
    }

    &:hover {
      input {
        ~ .to-show {
          background: $color11;
        }
      } 
    }
  }
  
  #anm-img {
    background: url("../../../../modules/custom/sand_core/images/anm.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 195px;
    margin: auto;
  }

  .head-doc {
    #title {
      margin: auto;
      font-weight: bold;
      text-align: center;
    }

    #description {
      margin: auto;
      text-align: center;
    }
  }

  .title-cert {
    background: $color8;
    color: $color1;
    label {
      font-weight: bold;
      margin: auto;
    }
  }

  .green-cell {
    background: $color9;

    label {
      margin: auto;
    }
    position: relative;

    &.explode {
      margin: 5px;
    }
  }

  .title-white {
    padding: 0;
    label {
      margin: auto;
      text-align: center;
    }
  }

  .input-check-white {
    position: relative;
    height: 30px;

    .form-checkboxes {
      right: 15px;
    }
  }

  .input-white {
    input, label {
      width: 100%;
      text-align: center;
    }
  }

  .select-option {
    cursor: pointer;

    label {
      margin: auto;
    }

    &:hover {
      background: $color12;
    }

    &.selected {
      background: $color12;
    }
  }
}

.print-wrapper {
  display: block;
  width: 60px;
  height: 80px;
  float: right;
  margin: 10px 49px;

  .print-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../images/print.png) no-repeat 5px;
    background-size: 45px;

  }
}

@media print {

  input {
    border: 1px solid white !important;
  }
    #origin-cert {
      margin: 0;
      padding: 0;
      border-collapse: collapse;
      border: 1px solid black;
      width:80mm;

      label, input {
        font-size: 5pt;
      }

      .sign-img {
        img#sign-img {
          height: 40pt;
          display: inline;
          width: 40pt;
          margin: 1pt 0pt 0pt 0pt;
        }
      }

      #anm-img {
        background-repeat: no-repeat;
        width: 17mm;
        height: 30pt;
        display: block;
        background-size: 17mm;
        background-position-y: 8pt;
        margin: auto;
      }

      .date-l-wrapper {
        padding: 0;

        .date-labels {
          margin: auto;
        }
      }

      .bnf-esp {
        width: 18mm;
      }
      

      .date-formater {
        padding: 0;
        text-align: center;

        input {
          text-align: center;
          margin: 0;
          padding: 0;
        }

        #date-label {
          width: 40pt;
          text-align: center;
        }

        #day-input , #month-input {
          width: 16pt;
        }

        #year-input {
          width: 26pt;
        }
      }

      .green-cell {
        &.explode {
          margin: 0;
          padding: 0 5pt;
          label {
            vertical-align: middle;
          }
        }
      }

      .form-checkboxes {
        width: 9pt;
        height: 9pt;
        right: 6px;
        top: 1pt;

        input[type=checkbox] {
          visibility: hidden;
          &:checked {
            + .to-show:after, + .to-show:before {
              display: block;
            }

            + .to-show {
              //height: 11pt;
            }
          }   
        }
        .to-show {
          width: 9pt;
          height: 9pt;

          &:after, &:before {
            content: '';
            left: 5px;
            top: 1px;
          }
        }
      }

      #num-consecutive {
        width: 17mm;
      }

      #consecutive-input {
        width: 20mm;
      }

      .input-white {
        padding: 0;

        input[type=text] {
          padding: 0;
        }

        #unit {
          margin: 3pt 0;
        }
      }

      .input-check-white {
        padding: 0 2pt;

        .rut-label {
          width: 7mm;
        }

        .nit-label {
          width: 6.5mm;
        }

        .cc-label {
          width: 8mm;
        }
        
        label {
          font-size: 3.5pt;
        }

        .form-checkboxes {
          top: 7pt;
          width: 7pt;
          height: 7pt;

          .to-show {
            width: 7pt;
            height: 7pt;

            &:after, &:before {
              content: '';
              left: 3px;
              top: 0px;
            }

          }
        }
        .ce {
          width: 40pt;

          + div {
            top: 7pt;
          }
        }
      }

      .hidden-print{
        display: table-cell;
      }

      td.space {
        border: solid 1px $color1;
        border-right: solid 1px $color10;
        input {
          background: $color1;
        }
      }
    }


}