.disabled-mark {
  width: 100%;
  position: absolute;

  &.dis-remision {
    padding: 275px 0px 0px 0px;
  }

  &.dis-cert {
    position: fixed;
    z-index: 11;
    top: 45vh;
    width: inherit;
    left: 35%;
  }

  .anulado {
    transform: rotate(45deg);
    left: 0;
    right: 0;
    font-size: 5em;
    margin: auto;
    color: rgba(187, 2, 2, 0.55);
  }

}

@media print {
  .disabled-mark {
    width: 90mm;

    &.dis-remision {
      padding: 200px 0px 0px 0px;
    }
  }

  .ptr-wrapper {
    .disabled-mark {
      z-index: 99;
      left: 316px;
      position: absolute;
      top: 0px;
      padding: 96px 0px 0px 0px;
    }
  }
}