input, button, a, label {
  &.btn-basic {
    background: $color5;
    color: $color1;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    &:hover {
      cursor: pointer;
      color: $color1;
      background: $color5;
    }
  }

  &.list-table {
    margin: 10px 20px;
  }
}

#return-container {
  height: 50px;
}