

@media (max-width: $media-mobile-max) {

  #filters-wrapper {
    div {
      display: block !important;
      text-align: center;
      margin: 5px 0px !important;

      label {
        margin: auto;
      }

      input {
        text-align: center;
      }
    }

    input[type="submit"] {
      width: 100%;
      margin: 10px 0px;
    }
  }
}