#sand-core-material-list, 
#sand-core-clients-list,
#sand-core-material-outs-list {
  margin: 30px 0px 0px;

  table {
    margin: 30px 0px;
  }
}

#sand-core-pagos-anticipos,
#sand-core-clientes,
#sand-core-materiales,
#sand-core-generate-out {
  margin: 0px 10%;
}

.out-page {
  form {
    margin: 0px 10%;
  }
}

.path-frontpage {
  #main-wrapper {
    overflow: unset;
  }
}

.add-client-page, 
.out-page, .material-page, 
.path-cert,
.path-reports {
  #main-wrapper {
    overflow-y: auto;
  }
}