#pop-disable {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 89vh;
    background: rgba(1,1,1, 0.5);

    #pop-form {
      background: $color1;
      width: 50%;
      margin: 23% auto;
      padding: 35px 30px;
      border-radius: 5px;
      position: relative;

      .close {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        background: $color3;
        top: 0px;
        right: 0px;
        transform: translate(5px, -6px);
        border-radius: 100%;
        cursor: pointer;

        &:before, &:after {
          content: '';
          display: block;
          height: 15px;
          width: 2px;
          background: $color1;
          border-radius: 3px;
        }

        &:before {
          transform: rotate(45deg) translate(15px, -5px);
        }

        &:after {
          height: 16px;
          transform: rotate(135deg) translate(-16px, -4px);
        }
      }

      .no-link {
        cursor: inherit;
      }

      .title {
        margin: auto;
        font-size: 1.1em;
        text-transform: uppercase;
      }

      #dis-description {
        font-weight: normal;
      }

      .btn-wrapper {
        text-align: right;
        margin: 20px 0px 0px 0px;

        .btn-basic {
          display: inline-block;
          margin: 0px 5px;
        }
      }
      
    }
}