table {
  thead {
    tr {
      th {
        background: $color2;
        color: $color3;
        border-collapse: collapse;
        border-top: solid 1px $color4;
        border-bottom: solid 1px $color4;
        border-left: none;
        border-right: none;
        font-weight: bold;
      }
    }
  }

  tbody {
    tr {
      td {
        background: $color1;
        border-collapse: collapse;
        border-top: solid 1px $color4;
        border-bottom: solid 1px $color4;
        border-left: none;
        border-right: none;
        label {
          font-weight: normal;
        }
      }
    }
  }
}

@media (max-width: $media-mobile-max) {
  table {
    &#origin-cert,
    &#remision-table, 
    &#sand-core-logs-table {
      overflow-x: auto;
      display: block;
    }
  }
}