.path-history {
  #page {
    overflow: hidden;
    #main-wrapper {
      overflow: auto;
    }
  }
  #filters-wrapper {
    padding: 0px 5%;

    div {
      display: inline-block;
    }
  }

  .link-disabled {
    cursor: pointer;
    color: #0071b3;
    &:hover {
      color: #018fe2;
    }
  }

  #return-container {
    height: 50px;
    padding: 20px 5% 0;
    
    a {
      margin: 0 15px 0 0;
    }
  }
}