.menu-container {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  height: 50px;

  a {
    padding: 12px 0px;
    position: relative;
    display: block;
    color: $color7;
    font-size: 1.2em;

    &:hover {
      color: $color10;
    }
  }

  &.outs {
    background: $color13;
  }

  &.dispath {
    background: $color14;
  }

  &.cdispath {
    background: $color15;
  }

  &.client {
    background: $color16;
  }

  &.report {
    background: $color17;
  }
}

@media (max-width: $media-mobile-max) {
  #sand-core-reports-home {
    .card-wrapper {
      box-shadow: none;
  
      .menu-container {
        height: auto;
        width: 100%;
      }
  
    }
  }
}