.disabled {
  opacity: 0.5;
}

.hidden-print{
  display: none;
}
.print-cert {
  header, footer {
    display: none;
  }

  body {
    width: 100%;
  }
}

.origin-cert {
  display: inline-block;
  vertical-align: top;
  td {
    border: solid 1px $color10;
    border-collapse: collapse;
  }

  input {
    border: none;
  }

  .bold {
    font-weight: bold;
    input, label {
      font-weight: bold;
    }
  }

  input, label {
    &.left {
      margin: 0;
      display: inline-block;
    }
  }

  .sign-img {
    text-align: center;
  }

  .form-checkboxes {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    right: 26px;
    border: solid 1px $color10;

    .to-show {
      z-index: 30;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background: $color1;

      &:after, &:before {
        content: '';
        width: 2px;
        height: 10px;
        left: 8px;
        top: 5px;
        background: $color10;
        position: absolute;
        display: none;
      }

      &:after {
        transform: rotate(45deg);
      }

      &:before {
        transform: rotate(140deg);
      }
    }

    input[type=checkbox] {
      visibility: hidden;
      &:checked {
        + .to-show:after, + .to-show:before {
          display: block;
        }
      }   
    }

    &:hover {
      input {
        ~ .to-show {
          background: $color11;
        }
      } 
    }
  }
  
  #anm-img {
    background: url(../images/anm.png) no-repeat;
    height: 50px;
    width: 195px;
    margin: auto;
    display: block;
  }

  .head-doc {
    #title {
      margin: auto;
      font-weight: bold;
      text-align: center;
    }

    #description {
      margin: auto;
      text-align: center;
    }
  }

  .title-cert {
    background: $color8;
    color: $color1;
    label {
      font-weight: bold;
      margin: auto;
    }
  }

  .green-cell {
    background: $color9;

    label {
      margin: auto;
    }
    position: relative;

    &.explode {
      margin: 5px;
    }
  }

  .title-white {
    padding: 0;
    label {
      margin: auto;
      text-align: center;
    }
  }

  .input-check-white {
    position: relative;
    height: 30px;

    .form-checkboxes {
      right: 15px;
    }
  }

  .input-white {
    input, label {
      width: 100%;
      text-align: center;
    }
  }

  .select-option {
    cursor: pointer;

    label {
      margin: auto;
    }

    &:hover {
      background: $color12;
    }

    &.selected {
      background: $color12;
    }
  }
}

.print-wrapper {
  display: block;
  width: 60px;
  height: 80px;
  float: right;
  margin: 10px 49px;

  .print-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: url(../images/print.png) no-repeat 5px;
    background-size: 45px;

  }
}

@media print {

  .prt-wrapper {
    margin: 14pt 0pt 0pt;
  }

  #ptr-button {
    display: none;
  }

  .print-cert {
    margin: 0;
    border: 0;
    width: 100%;

    #page {
      width: 100%;
      max-width: inherit;
      margin: 0;
    }

    header, footer, .drupal-notifications, #return-container {
      display: none;
    }

    #main-wrapper {
      overflow: unset !important;
      position: relative;
      display: block;
      margin: 0;
      border: 0;
      padding: 0;

      .messages__wrapper {
        display: none;
      }

      tr td {
        padding: 0px 9px;
      }

      .origin-cert {
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border: 0px;
        width: 135mm;
        overflow: hidden;
        margin: auto;

        label, input {
          font-size: 7pt;
          border: none;
        }

        .sign-img {
          img {
            height: 25pt;
            margin: 1pt 0pt 0pt 0pt;
          }
        }

        #anm-img {
          width: 22mm;
          height: 30pt;
          background-size: 21mm;
          background-position-y: 8pt;
        }

        .date-l-wrapper {
          padding: 0;

          .date-labels {
            margin: auto;
          }
        }

        .bnf-esp {
          width: 24mm;
        }
        

        .date-formater {
          padding: 0;
          text-align: center;

          input {
            text-align: center;
            margin: 0;
            padding: 0;
          }

          #date-label {
            width: 40pt;
            text-align: center;
          }
  
          #day-input , #month-input {
            width: 21pt;
          }
  
          #year-input {
            width: 28pt;
          }
        }

        .green-cell {
          &.explode {
            margin: 0;
            padding: 0 5pt;
            label {
              vertical-align: middle;
            }
          }
        }

        .form-checkboxes {
          width: 9pt;
          height: 9pt;
          right: 6px;
          top: 6pt;

          input[type=checkbox] {
            visibility: hidden;
            &:checked {
              + .to-show:after, + .to-show:before {
                display: block;
              }

              + .to-show {
                //height: 11pt;
              }
            }   
          }
          .to-show {
            width: 9pt;
            height: 9pt;

            &:after, &:before {
              content: '';
              left: 5px;
              top: 1px;
            }
          }
        }

        #num-consecutive {
          width: 24mm;
        }

        #consecutive-input {
          width: 20mm;
        }

        .input-white {
          padding: 0;

          input[type=text] {
            padding: 0;
          }

          #unit {
            margin: 3pt 0;
          }
        }

        .input-check-white {
          padding: 0 2pt;

          .rut-label {
            width: 7mm;
          }

          .nit-label {
            width: 6.5mm;
          }

          .cc-label {
            width: 8mm;
          }
          
          label {
            font-size: 5pt;
          }

          .form-checkboxes {
            top: 7pt;
            width: 7pt;
            height: 7pt;

            .to-show {
              width: 7pt;
              height: 7pt;

              &:after, &:before {
                content: '';
                left: 3px;
                top: 0px;
              }

            }
          }
          .ce {
            width: 46pt;

            + div {
              top: 7pt;
            }
          }
        }

        .hidden-print{
          display: table-cell;
        }

        td.space {
          border: solid 1px $color1;
          border-right: solid 1px $color10;
          input {
            background: $color1;
          }
        }
      }

      .print-wrapper {
        display: none;
      }
    }
  }

}