ptr-wrapper#main-wrapper {
  overflow-y: auto;
}

.path-remision {
  #page {
    overflow: hidden;
    #main-wrapper {
      overflow: auto;
    }
  }
}

#sand-core-remision-form {
  font-size: 1em;

  #header-print {
    max-width: 60%;
    margin: auto;

    #left-head, #rigth-head {
      display: inline-block;
      width: 48%;
      label, span {
        margin: auto;
        text-align: center;
      }
    }

    #left-head {
      .logo {
        background: url(../images/Arenas.png) no-repeat;
        width: 120px;
        height: 60px;
        background-size: 120px;
        display: block;
      }
    }

    #down-head {
      label {
        margin: auto;
      }
    }
  }

  #day, #month, #year {
    width: 55px;
  }

  .input-wrapper {
    display: inline-block;
  }

  .placa-wrapper {
    input {
      text-transform: uppercase;
    }
  }

  table, td {
    border: solid 1px $color10;
    border-collapse: collapse;
  }

  table {
    max-width: 60%;
    margin: auto;
    input {
      border: none;
      text-align: center;
      display: inline-block;
    }

    label {
      font-size: 1em;
      font-weight: bold;
      display: inline-block;
    }
  }

  #down-head-ptr {
    display: none;
  }

  .image-style-medium {
    max-width: 250px;
    margin: 0px 0px 0px 35%;
    display: inline-block;
  }
}

@media print {

  #page {
    max-width: 130mm;
  }

  #main-wrapper {
    overflow: unset;
  }

  .ptr-wrapper {
    width: 1200px;
  }

  #sand-core-remision-form {
    font-size: 1em;
    max-width: 110mm;
    margin: 0pt 0pt 0pt 5pt;

    input {
      font-weight: bold;
    }
  
    #header-print {
      max-width: 100%;
      margin: auto;
  
      #left-head, #rigth-head {
        display: inline-block;
        width: 48%;
  
        label, span {
          margin: auto;
          text-align: center;
        }
  
        label {
          font-size: 15pt;
        }
      }

      #rigth-head {
        #number-wrapper {
          label {
            font-size: 20pt;
          }
        }
      }
  
      #left-head {
        .logo {
          background: url(../images/Arenas.png) no-repeat;
          width: 120px;
          height: 60px;
          background-size: 120px;
          display: block;
        }
      }
  
      #down-head {
        display: none;

        label {
          margin: auto;
          font-size: 7pt;
          text-align: center;
        }
      }
    }

    #day, #month {
      width: 30pt;
      padding: 0pt;
    }

    #year {
      width: 45pt;
      padding: 0pt;
      text-align: center;
    }

    .day-wrapper, .month-wrapper {
      padding: 4pt 2pt;
    }

    .input-wrapper {
      display: inline-block;
      input {
        width: 50pt;
      }
    }

    input.rz-input {
      width: 190pt;
    }

    input.conductor-input {
      width: 155pt;
    }

    input.material-input {
      width: 120pt;
    }

    input.cantidad-input {
      width: 130pt;
    }

    input.dispath-input {
      width: 165pt;
    }

    input.total-input {
      width: 140pt;
    }

    .placa-wrapper {
      margin: 0pt 0pt 0pt 45pt;
      width: 100pt;
      input {
        text-transform: uppercase;
        width: 100pt;
      }
    }
  
    .sign {
      height: 30pt;
    }
  
    .sign-label {
      vertical-align: top;
      margin: 12pt 0pt 0pt;
      display: inline-block;
      vertical-align: top;
    }

    .image-style-medium {
      max-width: 70pt;
      margin: 0pt 0pt 0pt 25%;
    }
  
    table, td {
      border: solid 1px $color10;
      border-collapse: collapse;
    }
  
    table#remision-table {
      overflow: hidden;
      max-width: inherit;
      width: 95%;
      margin: auto;
      border: 0px;

      input {
        border: none;
        text-align: center;
        display: inline-block;
        font-size: 11pt;
      }
  
      label {
        font-size: 11pt;
        font-weight: bold;
        display: inline-block;
      }
    }

    #down-head-ptr {
      max-width: 80mm;
      display: block;
      text-align: center;
      width: 94%;
      margin: auto;
      background: rgba(1,1,1, 0.2);
      padding: 10pt 0pt;

      label {
        text-align: center;
        width: 100%;
        margin: 0pt 0pt 7pt;
      }
    }
  }
}