#sand-core-disable-client {
  max-width: 1140px;
  margin: auto;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .message-delete {
    font-size: 22px;
  }

  .action-wrapper {
    .gray-btn {
      background: #bbc1c6;
      color: black;
    }
  }

}