#sand-core-reports, .path-logs {
  #return-container {
    a {
      margin: 0px 0px 0px 60px;
    }
  }

  #filters-wrapper {

    .form-item {
      display: inline-block;
      margin: 0px 10px;
    }
  }

  #download-wrapper, #filters-wrapper {
    padding: 8px 50px;
  }

  #download-wrapper {
    .download-label {
      margin: 0px 10px;
      display: inline-block;
    }
  }
}