* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0px;
}

.hidden {
  display: none;
  transition: visibility 2s, opacity 0.5s linear;
}

.layout-main-wrapper {
  height: calc(89vh - 100px);
  //overflow: scroll;
}

.toolbar-fixed {
  .layout-main-wrapper {
    height: calc(89vh - 139px);
  }

  &.toolbar-horizontal.toolbar-tray-open {
    .layout-main-wrapper {
      height: calc(89vh - 178px);
    }
  }
}

.blur {
  filter: blur(1px);
  transition-duration: 1s;
}

#main {
  margin: 0px;
}

.block .content {
  margin: 0px;
}

main#content {
  .section {
    padding: 0px;
  }
}

a {
  border: none;
  &:hover {
    border: none;
  }
}

.ajax-progress {
  display: none;
}