$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;

#page {
  height: 100vh;
}

#page-wrapper {
  height: 100vh;
  background: $color1;
  position: relative;
}

@media (min-width: $media-desktop-min) {
  #page {
    margin: auto;
  }

  #main-wrapper {
    max-width: unset;
  }
}