/* line 1, ../sass/assests/_header.scss */
header#header {
  background-color: red;
}
/* line 4, ../sass/assests/_header.scss */
header#header #icon-header {
  background: url(../images/Arenas.png) no-repeat;
  width: 170px;
  height: 68px;
  background-size: 165px;
  display: inline-block;
}
/* line 12, ../sass/assests/_header.scss */
header#header #initial-menu {
  display: inline-block;
}
